include MANIFEST.in
include setup.py
include setup.cfg
include pytest.ini
include README.md
include LICENSE
include CHANGES.rst
include requirements.txt

recursive-include tests *.py
recursive-include examples *.rst *.py
recursive-include docs Makefile *.py *.rst *.bib *.css

include sporco/data/*.npz
include sporco/data/*.png
include sporco/data/README.rst
include sporco/cuda/__init__.py
recursive-include sporco/cupy *.py

