/*
@import url('css/theme.css');
*/

@import url("haiku.css");


body {
    line-height: 1.4;
    font-size: 90%;
}

/*
.field-list {
  margin-bottom: 0px;
  padding: 1px;
  line-height: 11px;
}

.field-body {
  margin-bottom: 0px;
}
*/

/* Some definitions copied from scipy.css */

table.field-list {
    border-collapse: collapse;
    border-spacing: 5px;
    margin-left: 1px;
    border-left: 5px solid #e9e9e9 !important;
}

table.field-list th.field-name {
    display: inline-block;
    padding: 1px 8px 1px 5px;
    white-space: nowrap;
    background-color: #e9e9e9;
}

table.field-list td.field-body {
    border-left: none !important;
}

table.field-list td.field-body > p {
    font-style: italic;
}

table.field-list td.field-body > p > strong {
    font-style: normal;
}

td.field-body blockquote {
    border-left: none;
    margin: 0;
    padding-left: 30px;
}

.class, .function {
  margin-bottom: 4em;
  background-color: #f8f8f8;
  padding: 5px 10px;
  border-radius: 10px;
}

dl.class {
  margin-top: 3em;
  margin-bottom: 2em;
  border-style: solid;
  border-width: 1px;
  border-color: #909090;
}

dl.function {
  margin-top: 0em;
  margin-bottom: 1em;
  border-style: solid;
  border-width: 1px;
  border-color: #909090;
}

div.highlight pre {
  border-radius: 4px;
  margin-bottom: 2em;
}

.pre {
  background-color: #f8f8f8;
}

/*
:not(td) blockquote {
  margin-top: 1px;
  margin-bottom: 31px;
}
*/


ul {
    padding-left: 1em;
    margin-top: 3px;
}

div.content ul > li {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background: none;
    list-style-image: none;
    list-style-type: square;
    /*padding: 0 0 0 1.666em;*/
    padding: 0 0 0 0.5em;
    /*margin-bottom: 3px;*/
}

blockquote div p {
  margin: 2px;
}

code, .rst-content tt, .linenodiv pre, div[class^="highlight"] pre {
    font-family: 'Inconsolata', 'Monaco', 'Consolas', monospace;
    font-size: 85%;
}


